.bullets {
  margin: auto;
  padding: 2rem 0;
  overflow: hidden !important;
  width: 100%;
  max-width: 2000px;
  background-color: #faf9f9;
  overflow-x: auto;
  justify-content: center;
  display: flex;
}

.carousel .slide {
  background: transparent;
}

.inner {
  overflow: hidden;
  /*width: 85%;*/
  max-width: 2000px;
  display: flex;
  flex-direction: row !important;
}

.card {
  flex-direction: row !important;
  min-width: 25vw;
  background:linear-gradient(#D9B282 0,white,white,transparent 100%);
}

.cardTitle {
  color: black;
  position: absolute;
  margin-left: 0.25rem;
  margin-top: 0.25rem;
}

.cardBtn {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  position: -webkit-sticky;
  position: absolute;
  bottom: 2.5%;
  top: auto;
  left: 1.25rem;
  width: calc(100% - 2.5rem);
  margin-bottom: 0rem !important;
}

.cardImg {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 576px) {
  .card {
    margin: 0 0.5rem;
  }
  
  .carousel_next > :global(.svg-inline--fa) {
    margin-right: 1rem !important;
  }

  .carousel_prev > :global(.svg-inline--fa) {
    margin-left: 1rem !important;
  }
}

@media screen and (min-width: 577px) {
  .card {
    margin: 0 0.5rem;
  }

  .carousel_next,
  .carousel_prev {
    height: calc(40.92vw + 4rem);
  }
}


@media screen and (max-width: 1023px) {
  .card {
    min-width: 80vw !important;
    max-width: 80vw !important;
    min-height: 95vw !important;
    max-height: 95vw !important;
  }

  .carousel_next,
  .carousel_prev {
    height: calc(95vw + 4rem);
  }

  .carousel_next > :global(.svg-inline--fa),
  .carousel_prev > :global(.svg-inline--fa) {
    width: 100%;
  }

  .inner {
    height: calc(95vw + 30px);
  }
}

@media screen and (min-width: 1024px) {
  .card {
    width: 25vw !important;
    height: 34.1vw !important;
  }

  .bullets,
  .carousel_next,
  .carousel_prev {
    height: calc(34.1vw + 4rem);
  }

  .carousel_next > :global(.svg-inline--fa),
  .carousel_prev > :global(.svg-inline--fa) {
    width: 100%;
  }

  .inner {
    height: calc(34.1vw + 30px);
  }
}

@media screen and (min-width: 1200px) {
}

.card:hover .cardBtn {
  visibility: visible;
  opacity: 1;
}
