.bullets {
  margin: auto;
  padding: 0 0;
  overflow: hidden !important;
  width: 100%;
  max-width: 2000px;
  background-color: #faf9f9;
  overflow-x: auto;
  justify-content: center;
  display: flex;
}

:global(.carousel) :global(.slide) {
  background: transparent;
}

.inner {
  overflow: hidden;
  /*width: 85%;*/
  max-width: 2000px;
  display: flex;
  flex-direction: row !important;
  /*padding: 0 0;
  margin: 0.1rem 0 1rem;*/
}

:global(.control-arrow), :global(.control-prev), :global(.control-next) {
  opacity: 0.9 !important;
}

:global(.control-prev)::before, :global(.control-next)::before {
  border-left-color: rgb(156, 155, 154) !important;
  border-right-color: rgb(156, 155, 154) !important;
}

.card {
  flex-direction: row !important;
  min-width: 25vw;
  display: flex;
  overflow: hidden;
}

.cardTitle {
  color: black;
  width: 100%;
  position: absolute;
  left: 0;
  padding: 0.25rem 1.25rem;
  font-family: Georgia, 'Times New Roman', Times, serif !important;
}

.cardPrice {
  color: black;
  width: 100%;
  position: absolute;
  left: 0;
  padding: 0.25rem 1.25rem;
  font-family: Georgia, 'Times New Roman', Times, serif !important;
}

.cardPrice h6 {
  margin-top: 26px;
  display: inline-block;
  width: 100%;
  text-align: end;
  font-family: Georgia, 'Times New Roman', Times, serif !important;
}

.cardTitle h4 {
  display: inline-block;
  width: 65%;
  text-align: left;
  font-family: Georgia, 'Times New Roman', Times, serif !important;
  margin-bottom: 0 !important;
}

.cardTitle h6 {
  display: inline-block;
  width: 35%;
  text-align: end;
  font-family: Georgia, 'Times New Roman', Times, serif !important;
  vertical-align: top;
}

.cardBtn {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  position: -webkit-sticky;
  position: absolute;
  bottom: 2.5%;
  top: auto;
  left: 1.25rem;
  width: calc(100% - 2.5rem);
  margin-bottom: 0rem !important;
}

.cardImg {
  height: 100%;
  margin: 0 auto;
  border-style: solid !important;
  border-width: 2px !important;
  border-radius: 0 !important;
}

.cardImg2 {
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100%;
  right: 0;
  transition: .5s ease;
  z-index: 0;
  padding: inherit;
}

.card:hover .cardImg2 {
  width: 100% !important;
  left: 0 !important;
}

@media screen and (max-width: 576px) {
  .card {
    min-width: 75vw !important;
    max-width: 75vw !important;
    min-height: calc(75vw/0.75) !important;
    max-height: calc(75vw/0.75) !important;
  }
  
  .carousel_next > :global(.svg-inline--fa) {
    margin-right: 1rem !important;
  }

  .carousel_prev > :global(.svg-inline--fa) {
    margin-left: 1rem !important;
  }
}

@media screen and (min-width: 577px) {
  .carousel_next,
  .carousel_prev {
    height: calc(40.92vw + 4rem);
  }
}


@media screen and (max-width: 767px) {
  .card {
    min-width: 75vw !important;
    max-width: 75vw !important;
    min-height: calc(75vw/0.75) !important;
    max-height: calc(75vw/0.75) !important;
  }
  
  .carousel_next,
  .carousel_prev {
    height: calc(80vh + 4rem);
  }

  .carousel_next > :global(.svg-inline--fa),
  .carousel_prev > :global(.svg-inline--fa) {
    width: 100%;
  }

  .inner :global(.slider-wrapper) {
    height: calc(75vw/0.75 + 75px);
  }
}

@media screen and (min-width: 768px) {
  .card {
    width: 25vw !important;
    height: 34.1vw !important;
  }

  .bullets,
  .carousel_next,
  .carousel_prev {
    height: calc(34.1vw + 80px);
  }

  .carousel_next > :global(.svg-inline--fa),
  .carousel_prev > :global(.svg-inline--fa) {
    width: 100%;
  }

  .inner {
    height: calc(34.1vw + 100px);
  }

  .inner > :global(.carousel) > :global(.control-dots) {
    bottom: 10px;
  }

  .inner > :global(.carousel) :global(.slide) {
    background: transparent;
    min-width: 26vw !important;
  }

  .inner :global(.slider-wrapper) {
    height: calc(34.1vw + 55px);
  }
}

@media screen and (min-width: 1200px) {
}

.card:hover .cardBtn {
  visibility: visible;
  opacity: 1;
}