.caption1, .caption2, .caption3 {
    background-color: rgba(0, 0, 0, 0.15);
    bottom: 0 !important;
}

.caption1, .caption2, .caption3 h3 {
    margin-bottom: 0;
}

:global .carousel-indicators {
    display: none;
}

:global .carousel-control-prev {
    display: none;
}

:global .carousel-control-next {
    display: none;
}

.hero1 {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

:global(.carousel-item):local(.hero2) {
    height: 100vh;
    background-image: url("");
    background-size: cover;
    background-position: center left 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

:global(.carousel-item):local(.hero3) {
    height: 100vh;
    background-image: url("");
    background-size: cover;
    background-position: center left 40%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@media screen and (max-width: 767px) {
    :global .carousel-caption {
        padding: 0px 0px 10px 0px !important;
        width: 100%;
        left: 0 !important;
        right: 0 !important;
    }

    main:global > .carousel:global {
      top: 0;
      position: relative;
      z-index: 5;
    }

    :global(.carousel-item) {
        height: calc(95vh);
        padding-bottom: calc(-60px - 1rem) !important;
    }

    .hero1 {
        background-attachment: scroll !important;
    }
}
 
@media screen and (min-width: 768px) {
    main:global > .carousel:global  {
      top: 0;
      position: relative;
      z-index: 5;
    }

    :global(.carousel-item) {
        height: calc(95vh);
        padding-bottom: calc(-62px - 2.25rem) !important;
    }

    .hero1 {
        background-attachment: fixed !important;
    }
}