.bottom {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 96px;
}

@media (max-width:991px) {
    .p_1 p {
        margin-bottom: 0 !important;
    }

    aboutImage {
        width: "60vw";
        height: "100%";
        margin-left: auto;
        margin-right: auto;
    }

    .rowM:last-of-type {
        margin-bottom: 1.45rem !important;
    }
}

@media (min-width:576px) {
    .cont {
        padding: 0 2rem !important;
    }
}

.cont {
    padding: 0 1rem;
}

.p_1 {
    width: 100%;
    color: black;
    font-size: 21px;
    height: 100%;
}

.p_2 {
    width: 100%;
    color: black;
    font-size: 21px;
    border: dashed 1px white;
    text-align: center;
}

.p_2 p {
    margin-bottom: 0 !important;
    display: inline-block;
    vertical-align: middle;
}

.rowM {
    margin: 1rem 0 0 0;
    overflow-y: hidden;
}

.rMap {
    height: 600px;
}

.bannerImg {
    width: auto;
    height: 100%;
    z-index: 0;
}

.bannerImgOver {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 35%;
}

.cont {
    max-width: 1200px;
    margin: auto !important;
}

:global(.footing) {
    max-width: 1200px;
    margin: auto !important;
}

:global(footer) {
    background-color: black;
}

.rowM > div > .p_1 {
    display: table !important;
}

.rowM > div > .p_1 > p {
    display: table-cell !important;
    vertical-align: middle !important;
}

aboutImage {
    width: "25vw";
    height: "100%";
    margin-left: auto;
    margin-right: auto;
}