body {
    background-color: #faf9f9;
}

.bannerImg {
    width: auto;
    height: 100%;
    z-index: 0;
}

.bannerImgOver {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 35%;
}

.divider {
    font-size: 1.5em !important;
}

.card {
  flex-direction: row !important;
  min-width: 25vw;
}

.cardCol {
    margin-bottom: 0.5em;
}

.cardTitle {
  color: black;
  position: absolute;
  margin-left: 0.25rem;
  margin-top: 0.25rem;
  text-align: center;
}

.cardBtn {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  position: -webkit-sticky;
  position: absolute;
  bottom: 2.5%;
  top: auto;
  left: 1.25rem;
  width: calc(100% - 2.5rem);
  margin-bottom: 0rem !important;
}

.cardImg {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 576px) {
    .card {
        margin: 0 0.5rem;
    }
}

@media screen and (min-width: 577px) {
  .card {
    margin: 0 0.5rem;
  }
}


@media screen and (max-width: 1023px) {
  .card {
    min-width: 80vw !important;
    max-width: 80vw !important;
    min-height: 95vw !important;
    max-height: 95vw !important;
  }
}

@media screen and (min-width: 1024px) {
  .card {
    width: 25vw !important;
    height: 34.1vw !important;
  }
}

@media screen and (min-width: 1200px) {
}

.card:hover .cardBtn {
  visibility: visible;
  opacity: 1;
}