:root {
  --primary: #000000;
  --navTextColor: #000000;
  --navTextHoverColor: #ffffff;
  --navTextFont: 'Roboto';
}

@font-face {
  font-family: "grupporegular";
  src:  url('../../fonts/gruppo-regular-webfont.woff2') format('woff2'),
        url('../../fonts/gruppo-regular-webfont.woff') format('woff'),
        url("../../fonts/Gruppo-Regular.ttf") format('truetype');
}

@font-face {
  font-family: "gruppobold";
  src:  url('../../fonts/gruppo-bold-webfont.woff2') format('woff2'),
        url('../../fonts/gruppo-bold-webfont.woff') format('woff'),
        url("../../fonts/Gruppo-Bold.ttf") format('truetype');
}

@font-face {
    font-family: "Roboto";
    src: url("../../fonts/RobotoCondensed-Regular.ttf");
}
@font-face {
    font-family: "Roboto";
    src: url("../../fonts/RobotoCondensed-Bold.ttf");
    font-weight: bold;
}

.navbar {
  padding: 0.75rem 1rem !important;
  padding-top: 0rem !important;
}

.navcolor {
  background-color: transparent !important;
  z-index: 7;
  position: fixed;
  width: 100%;
}

.navBg {
  height: auto;
  margin: 0 0;
  width: 100%;
  display: flex;
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  display: block;
  line-height:0;
  overflow: hidden;
  z-index: 8;
  right: 0;
  left: 0;
}

.navbar-light .navbar-toggler {
  border-color: transparent;
}

.nav-item {
  margin-bottom: 0 !important;
}

.justify-content-end {
  width: 100%;
}

.navbar-split {
  padding-right: 10px;
}

.navbar-upper {
  flex-direction: row;
  margin-top: 0.25em;
  display: flex;
  box-sizing: inherit;
  height: 21px !important;
}

.navbar-upper > .svg-inline--fa:hover{
  color: var(--navTextHoverColor) !important;
  transition: color 0.3s ease;
}

.svg-inline--fa {
  margin: 0 !important;
  padding: 0 0.3rem !important;
  box-sizing: content-box;
  width: auto;
  /*color: var(--navTextColor);*/
}

.navbar-lower {
  padding: 0 0.75rem;
}

.nav-link {
  padding-bottom: 0;
  padding-top: 0;
  margin-top: 0;
  border-bottom: 3px solid transparent !important;
  font-family: var(--navTextFont) !important;
  font-weight: 900;
}

.nav-link:hover {
  text-decoration: underline;
  transition: color 0.3s ease;
}

 > .nav-item > .nav-link {
  color: white !important;
}

.navbar-brand {
    padding-bottom: 0 !important;
    margin-right: 0 !important;
    padding-top: 0 !important;
    position: absolute;
}

.navbar-brand div {
    /*height: 22px;*/
    margin-right: 0rem;
    font-family: 'gruppobold' !important;
    font-size: 1.75rem;
    margin-top: 0rem !important;
    margin-bottom: 0rem;
    padding: 0px 0px;
    line-height: 0.675;
    margin-left: 0.25rem;
}

.navbar-brand div div {
  width: 100%;
  text-align: end;
  font-size: 1rem;
  margin-top: -.5px !important;
  margin-left: 0 !important;
  padding: 0 0px;
}

.navbar-social ul {
  margin-left: 0em;
}

/* 
  Hamburger hide input 
*/
.hamburger {
  align-items: center;
  /* put Burger on top of navigation*/
  position: relative;
  z-index: 8;
  cursor: pointer;
}

/*
  Hamburger Lines
*/
.burger__lines {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: flex-end;
  height: 100%;
}

.burger__line {
  display: block;
  margin: .2rem 0;
  height: 0.07rem;
  width: 2rem;
  background-color: var(--primary);
  transition: all 0.3s cubic-bezier(0, 0.52, 0, 1);
  z-index: 8;
}

/*
  Hamburger Cross
*/
/*line-middle*/
.hamburger > .burger__lines > .burger__line:nth-child(2) {
  width: 1.5rem;
}

/*top line*/
.hamburger > .burger__lines > .burger__line:nth-child(1) {
  width: 2rem;
}

/*bottom line*/
.header .navbar-toggler.collapsed > .hamburger > .burger__lines > .burger__line:nth-child(3) {
  width: 1rem !important;
}

/*
  Hamburger Cross
*/
/*line-middle*/
.header .navbar-toggler:not(.collapsed) > .hamburger > .burger__lines > .burger__line:nth-child(2) {
  opacity: 0;
  transform: translateX(-1em);
}

/* top line */
.header .navbar-toggler:not(.collapsed) > .hamburger > .burger__lines > .burger__line:nth-child(1) {
  transform: 
    translate3d(0, 0, 0)
    translateY(calc( 0.15em + 0.08em * 3 )) 
    rotate(45deg);
}

/* bottom line */
.header .navbar-toggler:not(.collapsed) > .hamburger > .burger__lines > .burger__line:nth-child(3) {
  transform: 
    translate3d(0, 0, 0)
    translateY(calc( 0.15em + 0.08em * -7 )) 
    rotate(calc( 45deg * -1 ));
}

.navbar-nav {
  margin-top: 0.5rem;
}

.navbar-nav .btn {
  padding: 0;
}

.btn-outline-primary {
  border-color: var(--primary);
}

.btn-outline-primary:hover, .btn-outline-primary:active {
  background-color: var(--primary);
  border-color: var(--primary);
}

.btn-outline-primary .nav-item .nav-link {
  font-weight: 900;
}

.nav-item .nav-link {
  border-bottom: 1px solid transparent !important;
  border-top: 1px solid transparent;
}

@media screen and (min-width: 768px) {
  .navcolor {
    padding: 0.25rem 0rem !important;
  }

  .navbar-upper {
    justify-content: end;
  }

  .navbar-upper > li {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    height: 21px;
  }

  .navbar-upper {
    flex-direction: row;
    margin-top: 0.25em;
    display: flex;
    box-sizing: inherit;
    height: 21px !important;
  }

  .svg-inline--fa {
    margin: 0 0.5rem;
  }

  .navbar-brand {
    top: 20% !important;
  }
}

@media screen and (max-width: 767px) {
  .navcolor {
    width: 100%;
  }
  
  .navbg {
    height: 45px !important;
  }

  .navbar-brand {
    top: 5px !important;
  }

  .navbar-brand div {
    top: 0 !important;
  }

  .header .collapse{
    text-align: center;
    padding: 0rem 1rem;
    height: calc(100vh);
    width: 100vw;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 6;
    background-color: #ffffff !important;
    transition: transform 0.3s cubic-bezier(0, 0.52, 0, 1) !important;
  }

  .header .collapse:not(.show) {
    text-align: center;
    transform: translate3d(100vw, 0, 0);
    display: block !important;
    padding: 5rem 0;
  }

  .header .show {
    text-align: center;
    transform: translate3d(0vw, 0, 0);
    padding: 5rem 0;
  }

  .header .collapsing {
    text-align: center;
    height: calc(100vh) !important;
    transition: transform 0.3s cubic-bezier(0, 0.52, 0, 1) !important;
    padding: 0rem 1rem !important;
    width: 100vw !important;
    position: fixed;
    top: 0;
    bottom: 0px;
    z-index: 7;
    left: 0;
    background-color: #ffffff;
    padding: 5rem 0 !important;
  }

  .navbar-upper {
    justify-content: space-evenly !important;
  }

  .nav-item {
    width: 100%;
    margin-top: 1.5rem;
  }

  .navbar-toggler {
    padding: 0.125rem 0.75rem !important;
    top: 6.25px;
    margin-right: 0;
    margin-left: auto;
    position: relative;
    z-index: 9;
    float: right !important;
    overflow: auto;
  }

  .navbar-nav .btn {
    margin: 1.5rem 6rem;
  }

  /* 
    Hamburger
  */
  .menu {
    display: flex;
  }
  
  .menu > * {
    padding-left: .5rem;
    padding-right: .5rem;
  }

  .btn-outline-primary {
    margin-top: 1.5rem;
  }

  .btn-outline-primary .nav-item {
    margin: 0.5rem 0 !important;
  }
}

.snipcart-cart-header {
  padding-top: 110px !important;
}

.snipcart-checkout > div:hover {
  color: white !important;
}

/*#svg8 {
  padding: 0 5px !important;
}*/ 