.bullets {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 2000px;
    background-color: #22313f;
}

.row {
    width: 100%;
    margin: 0;
}

.bullet_pt {
    margin-top: 1.45rem;
    color: white;
}

.bullet_pt :global svg:hover {
    border: none !important;
    color: white !important;
}

.col {
    width: 100%;
}

.bullet_pt .svg-inline--fa {
    color: white !important;
    size: 3 !important;
}

.col {
    background-color: #22313f;
    padding-top: 1.5rem;
    padding-bottom: 2.5rem;
}

.bt_1, .bt_2, .bt_3 {
    margin: 0;
}

.bullets .row {
    text-align: center;
    margin-left: auto;
}

.bullets .row h1 {
    color: white;
    margin-bottom: 0;
    margin-top: 30px;
    font-family: sans-serif;
    font-size: 7.5vw;
}

.bullets .row p {
    font-family: sans-serif;
    font-size: 2.5vw;
}

.animHeading {
    width: 100%;
    z-index: 0;
}

@media screen and (min-width: 768px) {
    .bullets .row h1 {
        font-size: 5vw;
    }
}

@media screen and (max-width: 767px) {
    .bullets .row h1 {
        font-size: 7.5vw;
    }

    .bullets .row p {
        font-size: 3.5vw;
    }
}